<div class="card">
    <div class="card-header">Clan et Parents</div>
    <form [formGroup]="oneForm" novalidate>
        <div class="card-body">

            <!-- Choix du clan -->
            <div class="form-group">
                <label>Le clan</label>
                <select class="form-control" formControlName="clan" #clan>
                    <option disabled [ngValue]=null>Choisir un clan</option>
                    <option *ngFor="let clan of this.clans" [ngValue]=clan >{{clan.nom}}</option>
                </select>
                <div *ngIf="oneForm.controls['clan'].invalid && (oneForm.controls['clan'].dirty || oneForm.controls['clan'].touched)" class="alert alert-dclaner">
                    <div *ngIf="oneForm.controls['clan'].errors.required">
                        Le clan est requis.
                    </div>
                </div>
            </div>

            <!-- Choix des parents -->
            <!-- Choix du père -->
            <div class="form-group">
                <label>Le père</label>
                <select class="form-control" formControlName="pere">
                    <option disabled [ngValue]=null>Choisir un père</option>
                    <option *ngFor="let parent of sexefilter(this.parents, ['H','A'])" [ngValue]=parent>{{parent?.nom?.text}} - {{parent?.prenoms}}
                    </option>
                </select>
                <div *ngIf="oneForm.controls['pere'].invalid && (oneForm.controls['pere'].dirty || oneForm.controls['pere'].touched)" class="alert alert-dclaner">
                    <div *ngIf="oneForm.controls['pere'].errors.required">
                        Le père est requis.
                    </div>
                </div>
            </div>

            <!-- Choix de la mère -->
            <div class="form-group">
                <label>La mère</label>
                <select class="form-control" formControlName="mere">
                    <option disabled [ngValue]=null>Choisir une mère</option>
                    <option *ngFor="let parent of sexefilter(this.parents, ['F','A'])" [ngValue]=parent>{{parent?.nom?.text}} - {{parent?.prenoms}}
                    </option>
                </select>
                <div *ngIf="oneForm.controls['mere'].invalid && (oneForm.controls['mere'].dirty || oneForm.controls['mere'].touched)" class="alert alert-dclaner">
                    <div *ngIf="oneForm.controls['mere'].errors.required">
                        La mère est requis.
                    </div>
                </div>
            </div>
        </div>
    </form>