.chart-text{
    width: 100vw;
}

.chart-text-title{
    cursor: pointer;
}

.chart-alert{
    margin: 0px auto;
    display: inline-block;
    color: #3D235D;
    border-color: #A98FC9;
    background-color:  #dad0e7;
}