/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #2b1941;
}

h1{
  color: #380A73;
  font-size: 24px;
  font-weight: 600;
}

h3{
  color: #3D235D;
  font-size: 20px;
  font-weight: 700;
}
.nav-tabs a.nav-link.active{
  background-color: #380A73;;
}

.nav-tabs a.nav-link:hover{
  border-color: #A98FC9;
}
.form-control:focus {
  border-color: #A98FC9;
  box-shadow: 0 0 0 0.2rem #dad0e7;
} 
.nav-tabs a.nav-link{
  outline: none;
}

a.nav-link.active h1{
  color: white;
}

.card,.nav-tabs,.form-control{
  border-color: #A98FC9;
}
.table .btn  {
  color: #380A73;

}

.btn-primary {
  background-color: #380A73;
  border-color: #380A73;
}

.btn-primary:hover {
  background-color:  #532d85;;
  border-color: #A98FC9;
}

.btn-primary:focus, .btn-primary.focus {
  background-color: #532d85;
  border-color: #A98FC9;
  box-shadow: 0 0 0 0.2rem #dad0e7;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #532d85;
  border-color: #380A73;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #A98FC9;
  border-color: #532d85;
}

.table thead th,.table-bordered, .table-bordered td, .table-bordered th {
  border-color: #A98FC9;;
}

.nondef .title{
  background-color: #380A73 !important;
}


.nondef .content{
  border-color: #380A73 !important;
}

.orgchart .lines  {
  border-color: #380A73 !important;
}
.orgchart {
  background-image:none !important;
}



